<div id="drawer-overlay" class="drawer-overlay"></div>
<div id="drawer" class="drawer">
    <!-- Header Section -->
    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title m-0 has-text-black">Contact opnemen</h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <button id="drawer-close-btn" class="delete" aria-label="close"></button>
            </div>
        </div>
    </div>
    <p class="subtitle is-6">We nemen binnen 48 uur contact met u op.</p>

    <div class="content">
        <div class="columns is-multiline">
            <!-- Call Us -->
            <div class="column is-half">
                <div class="media">
                    <div class="media-left">
                        <span class="icon has-text-success">
                            <i class="fas fa-phone-alt fa-lg"></i>
                        </span>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 mb-1">Bel ons</p>
                        <p class="subtitle is-6">
                            <a href="tel:+59994626767" class="has-text-link">+599 9 462 67 67</a>
                        </p>
                    </div>
                </div>
            </div>
    
            <!-- Email Us -->
            <div class="column is-half">
                <div class="media">
                    <div class="media-left">
                        <span class="icon has-text-info">
                            <i class="fas fa-envelope fa-lg"></i>
                        </span>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 mb-1">E-mail ons</p>
                        <p class="subtitle is-6"><a href="mailto:info@splikami.org">info@splikami.org</a></p>
                    </div>
                </div>
            </div>
    
            <!-- Address -->
            <div class="column is-half">
                <div class="media">
                    <div class="media-left">
                        <span class="icon has-text-primary">
                            <i class="fas fa-map-marker-alt fa-lg"></i>
                        </span>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 mb-1">Adres</p>
                        <p class="subtitle is-6">Schottegatweg West #52<br>Marchena, Curaçao</p>
                    </div>
                </div>
            </div>
    
            <!-- Facebook -->
            <div class="column is-half">
                <div class="media">
                    <div class="media-left">
                        <span class="icon has-text-link">
                            <i class="fab fa-facebook fa-lg"></i>
                        </span>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 mb-1">Facebook</p>
                        <p class="subtitle is-6">
                            <a href="https://www.facebook.com/fundashon.splikami" target="_blank" class="has-text-link">
                                @fundashon.splikami
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Contact Form Section -->
    <form id="contact-form" method="post" action="{% url 'contact_submit' %}" class="mt-4">
        {% csrf_token %}
        <div class="columns is-multiline">
            <div class="column is-half">
                <div class="field">
                    <label class="label">Naam *</label>
                    <div class="control">
                        <input class="input is-medium" type="text" name="name" placeholder="Naam" required>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="field">
                    <label class="label">Bedrijf</label>
                    <div class="control">
                        <input class="input is-medium" type="text" name="company" placeholder="Bedrijf">
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="field">
                    <label class="label">E-mail *</label>
                    <div class="control">
                        <input class="input is-medium" type="email" name="email" placeholder="E-mail" required>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="field">
                    <label class="label">Telefoonnummer *</label>
                    <div class="control">
                        <input class="input is-medium" type="tel" name="phone_number" placeholder="Telefoonnummer" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Bericht</label>
            <div class="control">
                <textarea class="textarea" name="message" rows="4" placeholder="Vertel ons meer"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary is-fullwidth">Verstuur</button>
            </div>
        </div>
        <div class="mb-6"></div>
    </form>
</div>