<div class="modal" id="welcome-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <!-- Box -->
        <div class="box no-hover-effect">
            <!-- Header Section -->
            <div class="has-text-centered">
                <span class="icon is-large has-text-primary">
                    <i class="fas fa-check-circle fa-3x"></i>
                </span>
                <h3 class="title is-3 mt-3">Welkom bij Splikami!</h3>
                <p class="subtitle is-5">Je registratie is gelukt.</p>
            </div>
            <hr class="my-4">

            <!-- Message Section -->
            <div class="content">
                <p>
                    Bedankt voor het registreren bij Splikami! Je account is succesvol aangemaakt en wordt binnenkort geactiveerd door een beheerder. Zodra je account is geactiveerd, ontvang je een melding per e-mail.
                </p>
                <p class="mt-3">
                    Heb je vragen? Neem gerust contact met ons op via <a href="info@splikami.org" class="has-text-primary has-text-weight-bold">support@splikami.com</a>.
                </p>
            </div>

            <!-- Button Section -->
            <div class="has-text-centered mt-5">
                <button class="button is-primary" id="close-welcome-modal">Sluiten</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>